body{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    background-color: #0D0208;
}

canvas {display:block;}

.title{
    width: 100%;
    background-color: #008F11;
    color: white;
}

.title h1{
    padding: 2px 0 5px 2%;
}

.clock_circle{
    border: #008F11 2px solid;
    width: 500px;
    height: 500px;
    margin: auto;
    color: white;
    margin-top: 50px;
    border-radius: 50%;
    background-color: #003B00;
}

#clock{
    position: relative;
    top: 10%;
    text-align: center;
}

/* Clock */
#clock_day{
    font-size: 50px;
}

#clock_time{
    font-size: 70px;
}

#clock_year{
    font-size: 30px;
}

/* Timer*/
#timer{
    padding-top: 10px;
    font-size: 70px;
}

.timer_title{
    font-size: 58px;
}

.timer_buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}

.buttons{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#008F11;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 25px;
}

.buttons:hover{
    border: 0.16em solid #008F11;
}

.buttons:focus {
    outline: none;
    box-shadow: none;
    color: #0D0208;
}

.time_start{
    display: none;
}

.clock_item{
    margin: 20px auto 50px auto;
    width: fit-content;
}

/* Pomodoro Timer*/
#input{
    width: 22%;
}

.pom_form{
    margin-top: 15%;
    font-size: 30px;
}

.pomo_button{
    margin-top: 35px;
}

.pom_clock_item{
    margin-top: 15%;
    font-size: 70px;
    display: none;
}

.pom_clock_ses{
    margin-top: 5%;
    font-size: 50px;
    display: none;
}

/* Background*/
.canvas-wrap { 
    position: relative; 
}
.canvas_wrap canvas{
    position:absolute; top:50; left:0; z-index:0 
}